Language: Cpp
Standard: Latest

ColumnLimit: 85
IndentWidth: 2

TabWidth: 8
UseTab: Never

# Only merge empty functions onto a single line
AllowShortFunctionsOnASingleLine: Empty

# If true, short case labels will be contracted to a single line.
AllowShortCaseLabelsOnASingleLine: true

# Used for having elements of a list each be on its own line
# A comma is needed before the last bracket and the last element to get this effect fully
# https://stackoverflow.com/questions/64298378/separate-each-entry-of-brace-enclosed-lists-with-new-line-via-clang-format/64358501#64358501
BinPackArguments: false

# Force return type to be same line of function declaration by making penalty of not doing so very large
# From: https://stackoverflow.com/questions/26635370/in-clang-format-what-do-the-penalties-do
PenaltyReturnTypeOnItsOwnLine: 100000

# Always make a newline after template declarations
AlwaysBreakTemplateDeclarations: Yes
